.forgotpassword{
    /* background-color: black; */
    height: 100vh;
    background-image: url('../images/image_signup.PNG');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.form-forgotpassword{
    height: 300px;
    width: 600px;
    margin-left: 30%;
    /* background-color: rgb(15, 136, 120); */
    background-color:#581845;
    margin-top: 150px;
    opacity: 1;
}

.button-forgotpasswprd{
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 30px 30px 30px;
    background-color: rgb(31, 43, 43);

}

.paragraph-signin{
margin-left: 30%;

}
.paragraph-signin button{
    border-radius: 30px 30px 30px;

}
.image-signin{
    height: 300px;
    margin-top: 20px;
}




@media (min-width:300px)and (max-width:500px){
    .form-forgotpassword{
        height: 300px;
        width: 300px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }
    
    .button-forgotpasswprd{
        margin-left: 30%;
        margin-top: 20px;
        border-radius: 30px 30px 30px;
        background-color: rgb(31, 43, 43);
    
    }
    
}

@media (min-width:501px)and (max-width:630px){
    .form-forgotpassword{
        height: 300px;
        width: 420px;
        margin-left: 5%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:631px)and (max-width:750px){
    .form-forgotpassword{
        height: 300px;
        width: 420px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:651px)and (max-width:906px){
    .form-forgotpassword{
        height: 300px;
        width: 520px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:907px)and (max-width:1100px){
    .form-forgotpassword{
        height: 300px;
        width: 720px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}


