.forgotpassword{
    /* background-color: black; */
    height: 100vh;
    background-image: url('../images/image_signin.PNG');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.form-forgotpassword{
    height: 300px;
    width: 600px;
    margin-left: 30%;
    /* background-color: rgb(15, 136, 120); */
    background-color:#581845;
    margin-top: 150px;
    opacity: 1;
}

.button-forgotpasswprd{
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 30px 30px 30px;
    background-color: rgb(31, 43, 43);

}

.paragraph-signin{
margin-left: 30%;

}
.paragraph-signin button{
    border-radius: 30px 30px 30px;

}
.image-signin{
    height: 300px;
    margin-top: 20px;
}