.searchbar{
    border: 3px solid black;
}
.button-mainpage{
    border: 3px solid black;

}
.button1-mainpage{
    height: 120px;
    width: 90px;
}


.btnshow{
margin-left: 430px;
}

.mainpage-contact-text{
    background-color:rgb(50, 148, 205);
    background-color:rgb(10, 59, 87);

}