.mynotes{
    background-color: rgb(182, 223, 236);
    height: 100vh;
}

.mynotes-table{
    width: 80%;
    margin-left: 120px;
}

.mynotes-text{
    margin: 50px;

    margin-left: 180px;



}


@media (max-width:656px){
    .mynotes-table{
        width: 80%;
        margin-left: 12px;
    }
    

    .mynotes-text{
        margin: 50px;
    
        margin-left: 18px;
    
    
    
    }
}
