.newpage{
    
    height:100vh;
    /* margin-bottom: 200px; */
    background-color: rgb(199, 228, 247);
}

.newpage-table{
    background-color: rgb(59, 174, 209);
    /* width: 92%; */
    /* margin-left: 80px; */
    margin-top: 50px;
    width: 20%;


}
.newpage-frame{
    margin-left: 450px;
}

