.resetpassword{
    height: 100vh;
    background-image: url('../images/1_blur.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}





.form-resetpassword{
    height: 300px;
    width: 600px;
    margin-left: 30%;
    /* background-color: rgb(15, 136, 120); */
    background-color:#581845;
    margin-top: 150px;
    opacity: 1;
}



@media (min-width:300px)and (max-width:500px){
    .form-resetpassword{
        
        height: 300px;
        width: 300px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }
}


@media (min-width:501px)and (max-width:630px){
    .form-resetpassword{
        height: 300px;
        width: 420px;
        margin-left: 5%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:631px)and (max-width:750px){
    .form-resetpassword{
        height: 300px;
        width: 420px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:651px)and (max-width:906px){
    .form-resetpassword{
        height: 300px;
        width: 520px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}

@media (min-width:907px)and (max-width:1100px){
    .form-resetpassword{
        height: 300px;
        width: 720px;
        margin-left: 10%;
        /* background-color: rgb(15, 136, 120); */
        background-color:#581845;
        margin-top: 100px;
        opacity: 1;
    }

}
